.qodo/
.vscode/
/backend/src/main/java/com/travel_agent/controllers/init.java
.cursorignore
.cursorrules

**/qdrant_storage/
**/node_modules/
**/dist/
**/build/
**/target/
**/logs/

/frontend/package-lock.json

**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.development
**/.env.production
**/.env.test

/AI-Agent/venv
/AI-Agent/graph/__pycache__
/AI-Agent/qdrant_storage
